In [1]:
import pandas as pd
import geopandas as gpd
import os
from osgeo import ogr
import numpy as np

**Import useful final energy data from REMIND**   
REMIND data from 2005 to 2050    
Main categories needed :     
Air transport (passenger domestic aviation and international)    
Rail transport (passenger and freight)    
Maritime transport (freight domestic shipping)    
Road transport (passenger LDV (4 wheelers large small and medium, 2 wheelers) or freight (heavy and light)

In [2]:
os.chdir(r"C:\Users\mar.eco\OneDrive - CBS - Copenhagen Business School\Desktop\REMIND")

In [3]:
transport_data = pd.read_csv("REMIND_Transport_Output.txt", delimiter='\t')
transport_data = transport_data.drop(columns={"Model", "Scenario","2055", "2060", "2070", "2080", "2090", "2100", "2110", "2130", "2150"})
transport_data.Region.unique()
Variable = transport_data['Variable'].str.split('|', expand=True)

In [4]:
transport_data.Region.unique()

array(['CAZ', 'CHA', 'DEU', 'ECE', 'ECS', 'ENC', 'ESC', 'ESW', 'EWN',
       'FRA', 'IND', 'JPN', 'LAM', 'MEA', 'NEN', 'NES', 'OAS', 'REF',
       'SSA', 'UKI', 'USA', 'EUR', 'EU27', 'NEU', 'World'], dtype=object)

In [5]:
transport_EU = transport_data.query("Region == 'EU27'")

In [6]:
def split_variable(df):
    variables = df['Variable'].str.split('|', expand=True)
    num_cols =  variables.shape[1]
    new_column_names = [f'Variable_{i}' for i in range(num_cols)]
    df[new_column_names] = variables
    return(df)
transport_EU = split_variable(transport_EU)
transport_EU.Variable_0.unique()

C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_18232\587570393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables

array(['Preference', 'Logit cost', 'Annual mileage', 'Load factor',
       'Load factor (raw)', 'Energy intensity sales',
       'Energy intensity (raw)',
       'TCO sales Operating costs (total non-fuel)',
       'TCO sales Fuel costs', 'TCO sales Capital costs',
       'Purchase Price', 'Stock', 'Time value costs',
       'Inconvenience costs', 'Policy mask', 'Inconvenience costs (raw)',
       'Energy intensity', 'FE', 'ES', 'Emi',
       'Annualized fleet investments', 'Operating costs fleet',
       'Operating costs fleet (fuel)',
       'Operating costs fleet (total non-fuel)', 'UE', 'Sales',
       'Vintages', 'GDPpc', 'GDP', 'Population'], dtype=object)

In [7]:
final_energy = transport_EU[(transport_EU["Variable_0"] == "FE") & (transport_EU["Variable_1"] == "Transport")]
final_energy

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
82801,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,0.009081388136571,0.0165694857709562,0.0266747003322437,0.0862549179835251,0.175209537131761,0.175696922793722,0.182369826095918,...,Freight,International Shipping,Liquids,Biomass,None,None,None,None,None,None
82826,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,192.822.999.825.547,190.216.679.908.231,188.729.470.240.778,182.864.640.100.136,173.551.959.036.235,172.096.859.194.787,170.025.701.602.085,...,Freight,International Shipping,Liquids,Fossil,None,None,None,None,None,None
82851,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,0,0,0,0,0,0,0,...,Freight,International Shipping,Liquids,Hydrogen,None,None,None,None,None,None
82876,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,0.0130635639285938,0.0211886225501252,0.0282663003465992,0.0667792098012143,0.11347173787013,0.112373860519604,0.114466759616053,...,Pass,International Aviation,Liquids,Biomass,None,None,None,None,None,None
82901,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,124.886.037.637.166,128.644.349.186.318,121.614.445.756.805,114.099.687.205.296,107.328.472.491.565,104.698.203.561.295,10.111.123.061.252,...,Pass,International Aviation,Liquids,Fossil,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135672,EU27,FE|Transport|Pass|Aviation|Hydrogen,EJ/yr,0,0,0,0,"1,97E+06","4,83E+06","1,14E+07",...,Aviation,Hydrogen,None,None,None,None,None,None,None,None
135675,EU27,FE|Transport|Pass|Aviation|Liquids,EJ/yr,15.358.660.568.302,157.681.482.839.692,137.019.891.867.888,134.341.835.065.713,132.800.468.389.527,133.867.745.431.757,132.624.061.906.371,...,Aviation,Liquids,None,None,None,None,None,None,None,None
135799,EU27,FE|Transport|Pass|Aviation|Liquids||Fossil,EJ/yr,152.013.601.358.476,155.112.711.268.789,133.898.158.035.284,126.738.389.444.875,120.111.216.225.314,120.665.096.100.689,118.356.524.887.069,...,Aviation,Liquids,,Fossil,None,None,None,None,None,None
135802,EU27,FE|Transport|Pass|Aviation|Liquids||Hydrogen,EJ/yr,0,0,0,0,0,0,0,...,Aviation,Liquids,,Hydrogen,None,None,None,None,None,None
135805,EU27,FE|Transport|Pass|Aviation|Liquids||Biomass,EJ/yr,0.0157300432454445,0.0256877157090316,0.0312173383260409,0.0760344562083791,0.126892521642133,0.132026493310676,0.142675370193018,...,Aviation,Liquids,,Biomass,None,None,None,None,None,None

**Passsenger transport in EU27**    
Categories : Domestic Aviation, Aviation, Road, Rail, (Non-motorized)    
Subcategories : LDV (4 and 2 wheelers) and Bus

In [8]:
pass_FE = final_energy.query("Variable_2 == 'Pass'")

In [9]:
pass_FE_domestic = pass_FE.query("Variable_3 == 'Domestic Aviation'")
pass_FE_aviation = pass_FE.query("Variable_3 == 'Aviation'")
pass_FE_road = pass_FE.query("Variable_3 == 'Road'")
pass_FE_rail = pass_FE.query("Variable_3 == 'Rail'")
pass_FE_nm = pass_FE.query("Variable_3 == 'Non-motorized'")

In [10]:
pass_FE_domestic_total = pass_FE_domestic[pass_FE_domestic['Variable_4'].isna()]
pass_FE_aviation_total = pass_FE_aviation[pass_FE_aviation['Variable_4'].isna()]
pass_FE_road_total = pass_FE_road[pass_FE_road['Variable_4'].isna()]
pass_FE_rail_total = pass_FE_rail[pass_FE_rail['Variable_4'].isna()]

In [11]:
pass_FE_bus = pass_FE_road.query("Variable_4 == 'Bus'")
pass_FE_LDV = pass_FE_road.query("Variable_4 == 'LDV'")
pass_FE_bus_total = pass_FE_bus[pass_FE_bus['Variable_5'].isna()]
pass_FE_LDV

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
84106,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0,0.00141399951180402,0.0015637963461118,0.00128704954258447,0.00101026671140626,0.00135940609154167,0.00192094107071838,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Gases,Biomass,None,None,None
84131,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0.0341449936902262,0.0299978853436819,0.0203272254821719,0.0107177798529844,0.0126340889614524,0.0166438276103832,0.0155718399954911,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Gases,Fossil,None,None,None
84156,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0,0,0,0,0,0,"3,36E+06",...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Gases,Hydrogen,None,None,None
84181,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0.0181832550953275,0.0372279115066964,0.0561907635435207,0.083592104241265,0.0897276936368192,0.0896000084105853,0.0696598140773417,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Liquids,Biomass,None,None,None
84206,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,14.811.340.689.372,154.746.844.354.651,151.046.216.869.349,144.092.634.304.131,120.006.966.775.638,0.898096924272842,0.518968509542041,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Liquids,Fossil,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127804,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0.0191577982888965,0.0212517856229731,0.0165946252402293,0.0103673779985115,0.0211532678926205,0.0364281833631368,0.0373045847506223,...,Road,LDV,Four Wheelers,Small,Gases,Fossil,None,None,None,None
127828,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0,0,0,0,0,0,"7,58E+06",...,Road,LDV,Four Wheelers,Small,Gases,Hydrogen,None,None,None,None
127852,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0.0192565037848375,0.0462650863035565,0.0789447777324852,0.127350737647219,0.1324090284324,0.12347802073046,0.089218441248909,...,Road,LDV,Four Wheelers,Small,Liquids,Biomass,None,None,None,None
127876,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,216.818.991.008.636,227.465.638.816.496,221.368.857.267.704,211.736.921.424.868,183.523.165.025.722,143.066.064.545.547,0.831152333479445,...,Road,LDV,Four Wheelers,Small,Liquids,Fossil,None,None,None,None
127900,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0,0,0,0,0,0,0,...,Road,LDV,Four Wheelers,Small,Liquids,Hydrogen,None,None,None,None

In [12]:
pass_FE_4w = pass_FE_road.query("Variable_5 == 'Four Wheelers'")
pass_FE_4w

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
84106,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0,0.00141399951180402,0.0015637963461118,0.00128704954258447,0.00101026671140626,0.00135940609154167,0.00192094107071838,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Gases,Biomass,None,None,None
84131,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0.0341449936902262,0.0299978853436819,0.0203272254821719,0.0107177798529844,0.0126340889614524,0.0166438276103832,0.0155718399954911,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Gases,Fossil,None,None,None
84156,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0,0,0,0,0,0,"3,36E+06",...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Gases,Hydrogen,None,None,None
84181,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,0.0181832550953275,0.0372279115066964,0.0561907635435207,0.083592104241265,0.0897276936368192,0.0896000084105853,0.0696598140773417,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Liquids,Biomass,None,None,None
84206,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Large...,EJ/yr,14.811.340.689.372,154.746.844.354.651,151.046.216.869.349,144.092.634.304.131,120.006.966.775.638,0.898096924272842,0.518968509542041,...,Road,LDV,Four Wheelers,Large,Large Car and SUV,Liquids,Fossil,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127804,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0.0191577982888965,0.0212517856229731,0.0165946252402293,0.0103673779985115,0.0211532678926205,0.0364281833631368,0.0373045847506223,...,Road,LDV,Four Wheelers,Small,Gases,Fossil,None,None,None,None
127828,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0,0,0,0,0,0,"7,58E+06",...,Road,LDV,Four Wheelers,Small,Gases,Hydrogen,None,None,None,None
127852,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0.0192565037848375,0.0462650863035565,0.0789447777324852,0.127350737647219,0.1324090284324,0.12347802073046,0.089218441248909,...,Road,LDV,Four Wheelers,Small,Liquids,Biomass,None,None,None,None
127876,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,216.818.991.008.636,227.465.638.816.496,221.368.857.267.704,211.736.921.424.868,183.523.165.025.722,143.066.064.545.547,0.831152333479445,...,Road,LDV,Four Wheelers,Small,Liquids,Fossil,None,None,None,None
127900,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Small...,EJ/yr,0,0,0,0,0,0,0,...,Road,LDV,Four Wheelers,Small,Liquids,Hydrogen,None,None,None,None

**Eurostat data**

In [13]:
file_path = r"C:\Users\mar.eco\OneDrive - CBS - Copenhagen Business School\Desktop\REMIND\Data\estat_avia_panc.tsv.gz" #aviation domestic passenger
data = pd.read_csv(file_path, compression='gzip', delimiter='\t')
data.columns = data.columns.str.strip()
data

,"freq,unit,tra_meas,geo\TIME_PERIOD",2024-Q1,2024-Q2,2024-Q3,2024-Q4
0,"Q,PAS,PAS_CRD,AT",59857,66438,68841,72210
1,"Q,PAS,PAS_CRD,BE",1411,1686,2195,0
2,"Q,PAS,PAS_CRD,BG",48559,57605,80098,54874
3,"Q,PAS,PAS_CRD,CH",105038,119673,138267,:
4,"Q,PAS,PAS_CRD,CY",0,222,702,91
5,"Q,PAS,PAS_CRD,CZ",2264,5221,:,:
6,"Q,PAS,PAS_CRD,DE",2536536,3191171,3185882,:
7,"Q,PAS,PAS_CRD,DK",312008,417482,403450,:
8,"Q,PAS,PAS_CRD,EE",11840,15233,16521,:
9,"Q,PAS,PAS_CRD,EL",1731442,3068709,:,:
10,"Q,PAS,PAS_CRD,ES",10488564,12839353,13925197,11584051
11,"Q,PAS,PAS_CRD,EU27_2020",31428328,40507350,:,:
12,"Q,PAS,PAS_CRD,FI",616182,361023,347387,552894
13,"Q,PAS,PAS_CRD,FR",5542375,6627407,6975798,:
14,"Q,PAS,PAS_CRD,HR",87443,117554,141360,110140
15,"Q,PAS,PAS_CRD,HU",9,25,3,110
16,"Q,PAS,PAS_CRD,IE",35494,40576,47020,:
17,"Q,PAS,PAS_CRD,IS",75775,87869,91232,78045
18,"Q,PAS,PAS_CRD,IT",6868872,9903190,11098895,:
19,"Q,PAS,PAS_CRD,LT",35,50,19,12
20,"Q,PAS,PAS_CRD,LU",0,0,0,0
21,"Q,PAS,PAS_CRD,LV",0,0,679,:
22,"Q,PAS,PAS_CRD,NL",361,829,548,:
23,"Q,PAS,PAS_CRD,NO",4453448,3976845,3860470,:
24,"Q,PAS,PAS_CRD,PL",391860,465340,494653,:
25,"Q,PAS,PAS_CRD,PT",1447705,1983468,2302701,:
26,"Q,PAS,PAS_CRD,RO",194198,219832,209663,:
27,"Q,PAS,PAS_CRD,RS",1773,2268,3018,:
28,"Q,PAS,PAS_CRD,SE",1051107,1124448,981573,:
29,"Q,PAS,PAS_CRD,SK",206,488,454,341

In [14]:
EU27_COUNTRIES = [
    'AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'EL','HR',
    'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'EU27_2020']

In [15]:
def align_with_eu27(df, country_column):
    df['country_code'] = df[country_column].str.extract(r'([A-Z]{2})$')
    value_columns = df.columns.difference([country_column, 'country_code']).tolist()

    # Find missing and extra countries
    missing_countries = set(EU27_COUNTRIES) - set(df['country_code'])
    extra_countries = set(df['country_code']) - set(EU27_COUNTRIES)

    # Create rows for missing EU countries with NaN values
    missing_rows = pd.DataFrame({
        country_column: [df[country_column].iloc[0].rsplit(',', 1)[0] + ',' + country for country in missing_countries],
        'country_code': list(missing_countries)
    })

    for col in value_columns:
        missing_rows[col] = np.nan  # Fill missing values with NaN

    df = pd.concat([df, missing_rows], ignore_index=True)
    df = df[df['country_code'].isin(EU27_COUNTRIES)]
    df.drop('country_code', axis=1, inplace=True)

    return df

In [16]:
data_eu27 = align_with_eu27(data, 'freq,unit,tra_meas,geo\\TIME_PERIOD')
data_eu27

,"freq,unit,tra_meas,geo\TIME_PERIOD",2024-Q1,2024-Q2,2024-Q3,2024-Q4
0,"Q,PAS,PAS_CRD,AT",59857.0,66438.0,68841,72210
1,"Q,PAS,PAS_CRD,BE",1411.0,1686.0,2195,0
2,"Q,PAS,PAS_CRD,BG",48559.0,57605.0,80098,54874
4,"Q,PAS,PAS_CRD,CY",0.0,222.0,702,91
5,"Q,PAS,PAS_CRD,CZ",2264.0,5221.0,:,:
6,"Q,PAS,PAS_CRD,DE",2536536.0,3191171.0,3185882,:
7,"Q,PAS,PAS_CRD,DK",312008.0,417482.0,403450,:
8,"Q,PAS,PAS_CRD,EE",11840.0,15233.0,16521,:
9,"Q,PAS,PAS_CRD,EL",1731442.0,3068709.0,:,:
10,"Q,PAS,PAS_CRD,ES",10488564.0,12839353.0,13925197,11584051
12,"Q,PAS,PAS_CRD,FI",616182.0,361023.0,347387,552894
13,"Q,PAS,PAS_CRD,FR",5542375.0,6627407.0,6975798,:
14,"Q,PAS,PAS_CRD,HR",87443.0,117554.0,141360,110140
15,"Q,PAS,PAS_CRD,HU",9.0,25.0,3,110
16,"Q,PAS,PAS_CRD,IE",35494.0,40576.0,47020,:
18,"Q,PAS,PAS_CRD,IT",6868872.0,9903190.0,11098895,:
19,"Q,PAS,PAS_CRD,LT",35.0,50.0,19,12
20,"Q,PAS,PAS_CRD,LU",0.0,0.0,0,0
21,"Q,PAS,PAS_CRD,LV",0.0,0.0,679,:
22,"Q,PAS,PAS_CRD,NL",361.0,829.0,548,:
24,"Q,PAS,PAS_CRD,PL",391860.0,465340.0,494653,:
25,"Q,PAS,PAS_CRD,PT",1447705.0,1983468.0,2302701,:
26,"Q,PAS,PAS_CRD,RO",194198.0,219832.0,209663,:
28,"Q,PAS,PAS_CRD,SE",1051107.0,1124448.0,981573,:
29,"Q,PAS,PAS_CRD,SK",206.0,488.0,454,341
30,"Q,PAS,PAS_CRD,MT",NaN,NaN,NaN,NaN
31,"Q,PAS,PAS_CRD,SI",NaN,NaN,NaN,NaN
32,"Q,PAS,PAS_CRD,EU27_2020",NaN,NaN,NaN,NaN

In [ ]:
data_cols = ['2024-Q1', '2024-Q2', '2024-Q3', '2024-Q4']
pass_domestic_euro[data_cols] = pass_domestic_euro[data_cols].replace(':', np.nan).apply(pd.to_numeric, errors='coerce')

In [ ]:
pass_domestic_euro

In [ ]:
#row_avg = pass_domestic_euro[data_cols].mean(axis=1) #Missing data per row : fill with average of existing values ?
#for col in data_cols:
    #pass_domestic_euro[col] = pass_domestic_euro[col].fillna(row_avg)

In [ ]:
pass_domestic_euro['2024_total'] = pass_domestic_euro[data_cols].sum(axis=1, skipna=True)

In [ ]:
def align_with_eu27(df, country_column):
    df['country_code'] = df[country_column].str.extract(r'([A-Z]{2})$')
    value_columns = df.columns.difference([country_column, 'country_code']).tolist()
    
    missing_countries = set(EU27_COUNTRIES) - set(df['country_code'])
    extra_countries = set(df['country_code']) - set(EU27_COUNTRIES)

    # Missing countries --> NaN values for the row
    missing_rows = pd.DataFrame({
        country_column: ['Q,PAS,PAS_CRD,' + country for country in missing_countries],
        'country_code': list(missing_countries)
    })

    for col in value_columns:
        missing_rows[col] = np.nan
    df = pd.concat([df, missing_rows], ignore_index=True)

    # Remove extra countries
    df = df[df['country_code'].isin(EU27_COUNTRIES)]
    df.drop('country_code', axis=1, inplace=True)

    return df

In [ ]:
pass_domestic_eu27 = align_with_eu27(pass_domestic_euro, 'freq,unit,tra_meas,partner,geo\\TIME_PERIOD')
pass_domestic_eu27

In [ ]:
EU27_total = pass_domestic_euro.loc[pass_domestic_euro['freq,unit,tra_meas,geo\\TIME_PERIOD'].str.contains('EU27_2020'), '2024_total'].values[0]
pass_domestic_euro['2024_share'] = (pass_domestic_euro['2024_total']/EU27_total)*100

In [ ]:
pass_domestic_euro

In [ ]:
pass_domestic_eu27['2024_share'].sum()

In [ ]:
eurostat_countries = pass_domestic_eu27['freq,unit,tra_meas,geo\\TIME_PERIOD'].str.extract(r'(.*)')[0].tolist()

In [ ]:
eurostat_countries

**Use of Eurostat for the REMIND output**    
The share for each EU27 country can be used to agregate country values for the REMIND output

In [ ]:
FE_year_columns = [col for col in pass_FE_domestic_total.columns if col.isnumeric()]
pass_domestic_eu27['2024_share'].dtype

In [ ]:
print(pass_domestic_eu27.isnull().sum())

In [ ]:
country_energy = []

for _, row in pass_FE_domestic_total.iterrows():
    for _, country_row in pass_domestic_eu27.iterrows():
        country_data = row.copy()

        country_code = country_row['freq,unit,tra_meas,geo\\TIME_PERIOD'][-2:]
        country_data['Region'] = country_code

        # Skip multiplication if share is NaN
        if not np.isnan(country_row['2024_share']) and country_row['2024_share'] != 0:
            for year in FE_year_columns:
                country_data[year] = country_data[year] * country_row['2024_share']
        
        country_energy.append(country_data)

In [ ]:
pass_FE_domestic_by_country = pd.DataFrame(country_energy)
pass_FE_domestic_by_country