In [1]:
import pandas as pd
import geopandas as gpd
import os
from osgeo import ogr

**Load REMIND output data**    
The data is read, only results for years between 2005 and 2050 are kept     
Europe is taken, and energy service, energy intensity and final energy are displayed

In [2]:
os.chdir(r"c:\\Users\\mar.eco\\Desktop/REMIND")
transport_data = pd.read_csv("REMIND_Transport_Output.txt", delimiter='\t')
transport_data = transport_data.drop(columns={"Model", "Scenario","2055", "2060", "2070", "2080", "2090", "2100", "2110", "2130", "2150"})
transport_data.Region.unique()
Variable = transport_data['Variable'].str.split('|', expand=True)

In [3]:
transport_EU = transport_data.query("Region == 'EU27'")

In [4]:
def split_variable(df):
    variables = df['Variable'].str.split('|', expand=True)
    num_cols =  variables.shape[1]
    new_column_names = [f'Variable_{i}' for i in range(num_cols)]
    df[new_column_names] = variables
    return(df)

In [5]:
transport_EU = split_variable(transport_EU)

C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_13320\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables

In [6]:
transport_EU.Variable_0.unique()

array(['Preference', 'Logit cost', 'Annual mileage', 'Load factor',
       'Load factor (raw)', 'Energy intensity sales',
       'Energy intensity (raw)',
       'TCO sales Operating costs (total non-fuel)',
       'TCO sales Fuel costs', 'TCO sales Capital costs',
       'Purchase Price', 'Stock', 'Time value costs',
       'Inconvenience costs', 'Policy mask', 'Inconvenience costs (raw)',
       'Energy intensity', 'FE', 'ES', 'Emi',
       'Annualized fleet investments', 'Operating costs fleet',
       'Operating costs fleet (fuel)',
       'Operating costs fleet (total non-fuel)', 'UE', 'Sales',
       'Vintages', 'GDPpc', 'GDP', 'Population'], dtype=object)

In [7]:
energy_service = transport_EU[transport_EU["Variable_0"] == "ES"]
energy_service.Variable_1.unique()

array(['Transport', 'Transport edge', 'Transport with bunkers'],
      dtype=object)

In [8]:
energy_service = energy_service[energy_service["Variable_1"] == "Transport"]
energy_service.shape[0]

201

In [9]:
energy_intensity = transport_EU[transport_EU["Variable_0"] == "Energy intensity"]
energy_intensity.Variable_1.unique()

array(['Transport', 'Transport with bunkers'], dtype=object)

In [10]:
energy_intensity = energy_intensity[energy_intensity["Variable_1"] == "Transport"]
energy_intensity.shape[0]

204

In [11]:
final_energy = transport_EU[transport_EU["Variable_0"] == "FE"]
final_energy.Variable_1.unique()

array(['Transport', 'Transport edge', 'Transport with bunkers'],
      dtype=object)

In [12]:
final_energy = final_energy[final_energy["Variable_1"] == "Transport"]
final_energy.shape[0]

348

In [13]:
energy_service.Variable_2.unique()

array(['Bunkers', 'Freight', 'Pass', 'Pass with bunkers',
       'Freight with bunkers', None, 'BEV', 'FCEV', 'Gases', 'Liquids',
       'Hybrid electric', 'Hydrogen', 'Electric', 'Road', 'Rail'],
      dtype=object)

In [14]:
energy_intensity.Variable_2.unique()

array(['Bunkers', 'Freight', 'Pass', 'Pass with bunkers',
       'Freight with bunkers', None, 'Liquids', 'Electric', 'BEV', 'FCEV',
       'Gases', 'Hydrogen', 'Hybrid electric', 'Road', 'Rail'],
      dtype=object)

In [15]:
final_energy.Variable_2.unique()

array(['Bunkers', 'Freight', 'Pass', 'Pass with bunkers',
       'Freight with bunkers', 'Road', 'Rail'], dtype=object)

In [16]:
passenger_ES = energy_service.query("Variable_2 == 'Pass'")
passenger_ES.shape[0]

113

In [17]:
passenger_ES.Variable_3.unique()

array(['Domestic Aviation', 'Road', 'Rail', 'Non-motorized', 'BEV',
       'Electric', 'FCEV', 'Gases', 'Hybrid electric', 'Hydrogen',
       'Liquids', 'Aviation'], dtype=object)

In [18]:
passenger_ES_domestic = passenger_ES.query("Variable_3 == 'Domestic Aviation'")
passenger_ES_aviation = passenger_ES.query("Variable_3 == 'Aviation'")
passenger_ES_road = passenger_ES.query("Variable_3 == 'Road'")
passenger_ES_rail = passenger_ES.query("Variable_3 == 'Rail'")
passenger_ES_nm = passenger_ES.query("Variable_3 == 'Non-motorized'")

In [19]:
passenger_ES_LDV = passenger_ES_road.query("Variable_4 == 'LDV'")
passenger_ES_LDV.Variable_5.unique()

array(['Four Wheelers', 'Two Wheelers', None, 'BEV', 'FCEV', 'Gases',
       'Hybrid electric', 'Liquids'], dtype=object)

In [20]:
passenger_ES_4w = passenger_ES_LDV.query("Variable_5 == 'Four Wheelers'")
passenger_ES_2w = passenger_ES_LDV.query("Variable_5 == 'Two Wheelers'")
passenger_ES_check = passenger_ES_LDV.query("Variable_5 == 'Hybrid electric'")

In [21]:
passenger_EI = energy_intensity.query("Variable_2 == 'Pass'")
passenger_EI.shape[0]

114

In [22]:
passenger_EI.Variable_3.unique()

array(['Domestic Aviation', 'Road', 'Rail', 'Non-motorized', None, 'BEV',
       'Electric', 'FCEV', 'Gases', 'Hybrid electric', 'Hydrogen',
       'Liquids', 'Aviation'], dtype=object)

In [23]:
passenger_EI_domestic = passenger_EI.query("Variable_3 == 'Domestic Aviation'")
passenger_EI_aviation = passenger_EI.query("Variable_3 == 'Aviation'")
passenger_EI_road = passenger_EI.query("Variable_3 == 'Road'")
passenger_EI_rail = passenger_EI.query("Variable_3 == 'Rail'")
passenger_EI_nm = passenger_EI.query("Variable_3 == 'Non-motorized'")

In [24]:
passenger_FE = final_energy.query("Variable_2 == 'Pass'")
passenger_FE.shape[0]

202

In [25]:
passenger_FE.Variable_3.unique()

array(['Domestic Aviation', 'Road', 'Rail', 'Non-motorized', 'Gases',
       'Liquids', 'Aviation'], dtype=object)

In [26]:
passenger_FE_domestic = passenger_FE.query("Variable_3 == 'Domestic Aviation'")
passenger_FE_aviation = passenger_FE.query("Variable_3 == 'Aviation'")
passenger_FE_road = passenger_FE.query("Variable_3 == 'Road'")
passenger_FE_rail = passenger_FE.query("Variable_3 == 'Rail'")
passenger_FE_nm = passenger_FE.query("Variable_3 == 'Non-motorized'")

passenger_FE_gases = passenger_FE.query("Variable_3 == 'Gases'")
passenger_FE_liquids = passenger_FE.query("Variable_3 == 'Liquids'")
passenger_FE_bus = passenger_FE.query("Variable_4 == 'Bus'")
passenger_FE_LDV = passenger_FE.query("Variable_4 == 'LDV'")

In [36]:
passenger_FE_domestic

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
83851,EU27,FE|Transport|Pass|Domestic Aviation|Liquids|Bi...,EJ/yr,0.00266647931685067,0.0044990931589064,0.0029510379794417,0.00925524640716485,0.0134207837720031,0.0196526327910718,0.0282086105769657,...,Domestic Aviation,Liquids,Biomass,None,None,None,None,None,None,None
83876,EU27,FE|Transport|Pass|Domestic Aviation|Liquids|Fo...,EJ/yr,0.2712756372131,0.26468362082471,0.122837122784788,0.126387022395794,0.127827437337491,0.159668925393941,0.17245294274549,...,Domestic Aviation,Liquids,Fossil,None,None,None,None,None,None,None
83901,EU27,FE|Transport|Pass|Domestic Aviation|Liquids|Hy...,EJ/yr,0,0,0,0,0,0,0,...,Domestic Aviation,Liquids,Hydrogen,None,None,None,None,None,None,None
91836,EU27,FE|Transport|Pass|Domestic Aviation|Hydrogen,EJ/yr,0,0,0,0,"1,97E+06","4,83E+06","1,14E+07",...,Domestic Aviation,Hydrogen,None,None,None,None,None,None,None,None
92053,EU27,FE|Transport|Pass|Domestic Aviation|Liquids,EJ/yr,0.27394211652995,0.269182713983617,0.125788160764229,0.135642268802959,0.141248221109494,0.179321558185013,0.200661553322456,...,Domestic Aviation,Liquids,None,None,None,None,None,None,None,None
109258,EU27,FE|Transport|Pass|Domestic Aviation,EJ/yr,0.27394211652995,0.269182713983617,0.125788160764229,0.135642268802959,0.141248240793606,0.179321606438608,0.200662695279579,...,Domestic Aviation,None,None,None,None,None,None,None,None,None

In [27]:
passenger_FE_LDV = passenger_FE_road.query("Variable_4 == 'LDV'")
passenger_FE_LDV.Variable_5.unique()

array(['Four Wheelers', 'Two Wheelers', None, 'Electricity', 'Gases',
       'Hydrogen', 'Liquids'], dtype=object)

In [28]:
passenger_FE_4w = passenger_FE_LDV.query("Variable_5 == 'Four Wheelers'")
passenger_FE_2w = passenger_FE_LDV.query("Variable_5 == 'Two Wheelers'")
passenger_FE_check = passenger_FE_LDV.query("Variable_5 == 'Liquids'")
passenger_FE_large = passenger_FE_LDV.query("Variable_6 == 'Large'")
passenger_FE_medium = passenger_FE_LDV.query("Variable_6 == 'Medium'")
passenger_FE_small = passenger_FE_LDV.query("Variable_6 == 'Small'")
#passenger_FE_small

**Comparing data from REMINd and Eurostat**    
Find proxy from Eurostat to agregate by country the values of REMIND output

In [29]:
file_path = 'avia_panc.xlsx'
passenger_domestic_euro = pd.read_excel(file_path, sheet_name='Sheet 1')
passenger_domestic_euro

C:\Users\mar.eco\AppData\Local\anaconda32\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Data extracted on 25/03/2025 14:30:51 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Dataset:,National air passenger transport by reporting ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,17/03/2025 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Unit of measure,NaN,Passenger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Traffic and transport measurement,NaN,Passengers carried,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,TIME,2024-07,NaN,2024-08,NaN,2024-09,NaN,2024-10,NaN,2024-11,NaN,2024-12
8,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,European Union - 27 countries (from 2020),14880874,p,:,NaN,:,NaN,:,NaN,:,NaN,:
10,European Union - 28 countries (2013-2020),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
11,European Union - 27 countries (2007-2013),:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
12,Belgium,1417,NaN,778,NaN,0,NaN,0,NaN,0,NaN,0
13,Bulgaria,28753,NaN,29686,NaN,21659,NaN,18530,NaN,17892,NaN,18452
14,Czechia,3466,NaN,2718,NaN,:,NaN,:,NaN,:,NaN,:
15,Denmark,121073,NaN,137466,NaN,144911,NaN,133897,NaN,:,NaN,:
16,Germany,1042016,NaN,978444,NaN,1165422,NaN,1132761,NaN,1029177,NaN,:
17,Estonia,6196,NaN,5876,NaN,4449,NaN,4571,NaN,:,NaN,:
18,Ireland,15978,NaN,17070,NaN,13972,NaN,13176,NaN,:,NaN,:
19,Greece,1202353,e,:,NaN,:,NaN,:,NaN,:,NaN,:
20,Spain,4794069,NaN,4742003,NaN,4389125,NaN,4148756,NaN,3652354,NaN,3782941
21,France,2388130,NaN,2415270,NaN,2172398,NaN,2170687,NaN,:,NaN,:
22,Croatia,48969,NaN,48453,NaN,43938,NaN,42057,NaN,33758,NaN,34325
23,Italy,3853555,NaN,3703572,NaN,3541768,NaN,3216827,NaN,:,NaN,:
24,Cyprus,0,NaN,702,NaN,0,NaN,91,NaN,0,NaN,0
25,Latvia,402,NaN,277,NaN,0,NaN,:,NaN,:,NaN,:
26,Lithuania,4,NaN,9,NaN,6,NaN,0,NaN,10,NaN,2
27,Luxembourg,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
28,Hungary,3,NaN,0,NaN,0,NaN,104,NaN,0,NaN,6
29,Malta,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
30,Netherlands,134,NaN,276,NaN,138,NaN,118,NaN,8,NaN,:
31,Austria,21489,NaN,21900,NaN,25452,NaN,25712,NaN,25001,NaN,21497
32,Poland,162552,NaN,167364,NaN,164737,NaN,163422,NaN,:,NaN,:
33,Portugal,778737,NaN,802674,NaN,721290,NaN,631816,NaN,:,NaN,:
34,Romania,70718,NaN,63015,NaN,75930,NaN,:,NaN,:,NaN,:
35,Slovenia,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
36,Slovakia,157,NaN,33,NaN,264,NaN,82,NaN,157,NaN,102
37,Finland,91995,NaN,113381,NaN,142011,NaN,145141,NaN,181695,NaN,226058
38,Sweden,248708,NaN,327420,NaN,405445,NaN,:,NaN,:,NaN,:
39,Iceland,30348,NaN,30785,NaN,30099,NaN,30550,NaN,23949,NaN,23546
40,Norway,1154804,NaN,1274234,NaN,1431432,NaN,1421939,NaN,1283816,NaN,:
41,Switzerland,50722,NaN,48328,NaN,39217,NaN,:,NaN,:,NaN,:
42,United Kingdom,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
43,Bosnia and Herzegovina,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
44,Montenegro,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
45,North Macedonia,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
46,Serbia,1142,NaN,1062,NaN,814,NaN,:,NaN,:,NaN,:
47,TÃ¼rkiye,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Observation flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,e,estimated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,p,provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
file_path_compr = r"C:\Users\mar.eco\Desktop\REMIND\estat_avia_panc.tsv.gz"
passenger_domestic_euro_compr = pd.read_csv(file_path_compr, compression='gzip', delimiter='\t')
print(passenger_domestic_euro_compr.head())

  freq,unit,tra_meas,geo\TIME_PERIOD 2024-07  2024-08  2024-09  2024-10   \
0                   M,PAS,PAS_CRD,AT   21489    21900    25452    25712
1                   M,PAS,PAS_CRD,BE    1417      778        0        0
2                   M,PAS,PAS_CRD,BG   28753    29686    21659    18530
3                   M,PAS,PAS_CRD,CH   50722    48328    39217        :
4                   M,PAS,PAS_CRD,CY       0      702        0       91

  2024-11  2024-12
0   25001    21497
1       0        0
2   17892    18452
3       :        :
4       0        0

In [99]:
# Rows in passenger_EI but not in passenger_ES
passenger_EI = passenger_EI.reset_index(drop=True)
passenger_ES = passenger_ES.reset_index(drop=True)
diff_ES_EI = passenger_EI[~passenger_EI.index.isin(passenger_ES.index)]
diff_ES_EI

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
113,EU27,Energy intensity|Transport|Pass|Aviation|Hydrogen,MJ/vehkm,21.950.536.742.847,212.242.867.851.511,201.744.340.075.521,191.399.409.288.472,182.748.291.821.445,176.449.354.635.647,170.247.732.625.125,...,Aviation,Hydrogen,None,None,None,None,None,None,None,None

In [31]:
missing_check = passenger_ES[passenger_ES['Variable'] == "ES|Transport|Pass|Aviation|Hydrogen"]
missing_check

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
135678,EU27,ES|Transport|Pass|Aviation|Hydrogen,billion pkm/yr,0,0,0,0,"1,43E+09","3,70E+09",0.000923370990778387,...,Aviation,Hydrogen,None,None,None,None,None,None,None,None

In [100]:
# Rows in passenger_FE but not in passenger_EI
passenger_FE = passenger_FE.reset_index(drop=True)
diff_FE_EI = passenger_FE[~passenger_FE.index.isin(passenger_EI.index)]
diff_FE_EI

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
114,EU27,FE|Transport|Pass|Rail|HSR,EJ/yr,0.00837216462433359,0.007964019996838,0.022460466932596,0.0281566694449338,0.0303635052852089,0.0317964135581864,0.0432003034105623,...,Rail,HSR,None,None,None,None,None,None,None,None
115,EU27,FE|Transport|Pass|Rail|non-HSR,EJ/yr,0.21918561786864,0.212253530166375,0.18074504286188,0.181473446633766,0.199261799544494,0.222230877361191,0.242603766561361,...,Rail,non-HSR,None,None,None,None,None,None,None,None
116,EU27,FE|Transport|Pass|Non-motorized|Cycle,EJ/yr,0,0,0,0,0,0,0,...,Non-motorized,Cycle,None,None,None,None,None,None,None,None
117,EU27,FE|Transport|Pass|Non-motorized|Walk,EJ/yr,0,0,0,0,0,0,0,...,Non-motorized,Walk,None,None,None,None,None,None,None,None
118,EU27,FE|Transport|Pass|Rail,EJ/yr,0.227557782492974,0.220217550163213,0.203205509794476,0.2096301160787,0.229625304829703,0.254027290919377,0.285804069971924,...,Rail,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,EU27,FE|Transport|Pass|Aviation|Hydrogen,EJ/yr,0,0,0,0,"1,97E+06","4,83E+06","1,14E+07",...,Aviation,Hydrogen,None,None,None,None,None,None,None,None
198,EU27,FE|Transport|Pass|Aviation|Liquids,EJ/yr,15.358.660.568.302,157.681.482.839.692,137.019.891.867.888,134.341.835.065.713,132.800.468.389.527,133.867.745.431.757,132.624.061.906.371,...,Aviation,Liquids,None,None,None,None,None,None,None,None
199,EU27,FE|Transport|Pass|Aviation|Liquids||Fossil,EJ/yr,152.013.601.358.476,155.112.711.268.789,133.898.158.035.284,126.738.389.444.875,120.111.216.225.314,120.665.096.100.689,118.356.524.887.069,...,Aviation,Liquids,,Fossil,None,None,None,None,None,None
200,EU27,FE|Transport|Pass|Aviation|Liquids||Hydrogen,EJ/yr,0,0,0,0,0,0,0,...,Aviation,Liquids,,Hydrogen,None,None,None,None,None,None
201,EU27,FE|Transport|Pass|Aviation|Liquids||Biomass,EJ/yr,0.0157300432454445,0.0256877157090316,0.0312173383260409,0.0760344562083791,0.126892521642133,0.132026493310676,0.142675370193018,...,Aviation,Liquids,,Biomass,None,None,None,None,None,None

In [107]:
missing_check = passenger_EI[passenger_EI['Variable'] == "Energy intensity|Transport|Pass|Rail|HSR"]
missing_check

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
63,EU27,Energy intensity|Transport|Pass|Rail|HSR,MJ/vehkm,62.695.421.407.331,594.873.321.881.657,571.965.655.069.251,566.533.091.812.258,55.783.584.249.215,552.582.591.728.107,572.322.699.614.137,...,Rail,HSR,None,None,None,None,None,None,None,None

In [108]:
freight_ES = energy_service.query("Variable_2 == 'Freight'")
freight_ES.shape[0]

50

In [119]:
freight_ES.Variable_3.unique()

array(['Domestic Shipping', 'Rail', 'Road', 'BEV', 'Electric', 'FCEV',
       'Gases', 'Liquids'], dtype=object)

In [134]:
freight_ES_domestic = freight_ES.query("Variable_3 == 'Domestic Shipping'")
freight_ES_road = freight_ES.query("Variable_3 == 'Road'")
freight_ES_rail = freight_ES.query("Variable_3 == 'Rail'")

Empty DataFrame
Columns: [Region, Variable, Unit, 2005, 2010, 2015, 2020, 2025, 2030, 2035, 2040, 2045, 2050, Variable_0, Variable_1, Variable_2, Variable_3, Variable_4, Variable_5, Variable_6, Variable_7, Variable_8, Variable_9, Variable_10, Variable_11, Variable_12]
Index: []

[0 rows x 26 columns]

In [135]:
freight_EI = energy_intensity.query("Variable_2 == 'Freight'")
freight_EI.shape[0]

51

In [136]:
freight_EI.Variable_3.unique()

array(['Domestic Shipping', 'Rail', 'Road', None, 'BEV', 'Electric',
       'FCEV', 'Gases', 'Liquids'], dtype=object)

In [153]:
freight_EI_domestic = freight_EI.query("Variable_3 == 'Domestic Shipping'")
freight_EI_road = freight_EI.query("Variable_3 == 'Road'")
freight_EI_rail = freight_EI.query("Variable_3 == 'Rail'")

In [154]:
freight_FE = final_energy.query("Variable_2 == 'Freight'")
freight_FE.shape[0]

105

In [155]:
freight_FE.Variable_3.unique()

array(['Domestic Shipping', 'Rail', 'Road', 'Gases', 'Liquids'],
      dtype=object)

In [219]:
freight_FE_domestic = freight_FE.query("Variable_3 == 'Domestic Shipping'")
freight_FE_road = freight_FE.query("Variable_3 == 'Road'")
freight_FE_rail = freight_FE.query("Variable_3 == 'Rail'")

freight_FE_unique = freight_FE.Variable_3.unique()
freight_FE_unique

array(['Domestic Shipping', 'Rail', 'Road', 'Gases', 'Liquids'],
      dtype=object)

In [112]:
bunkers = energy_service.query("Variable_2 == 'Bunkers'")
bunkers_all = energy_service[energy_service['Variable'].str.contains("Bunkers")]
bunkers_all

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
85306,EU27,ES|Transport|Bunkers|Freight|International Shi...,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,Freight,International Shipping,Liquids,None,None,None,None,None,None,None
85531,EU27,ES|Transport|Bunkers|Pass|International Aviati...,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,Pass,International Aviation,Liquids,None,None,None,None,None,None,None
108061,EU27,ES|Transport|Bunkers|Freight|International Shi...,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,Freight,International Shipping,None,None,None,None,None,None,None,None
108286,EU27,ES|Transport|Bunkers|Pass|International Aviation,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,Pass,International Aviation,None,None,None,None,None,None,None,None
110861,EU27,ES|Transport|Bunkers|Freight,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,Freight,None,None,None,None,None,None,None,None,None
111086,EU27,ES|Transport|Bunkers|Pass,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,Pass,None,None,None,None,None,None,None,None,None
111761,EU27,ES|Transport|Bunkers|Freight|Liquids,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,Freight,Liquids,None,None,None,None,None,None,None,None
111986,EU27,ES|Transport|Bunkers|Pass|Liquids,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,Pass,Liquids,None,None,None,None,None,None,None,None

In [115]:
bunkers = final_energy.query("Variable_2 == 'Bunkers'")
bunkers_all = final_energy[final_energy['Variable'].str.contains("Bunkers")]
bunkers_all

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
82801,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,0.009081388136571,0.0165694857709562,0.0266747003322437,0.0862549179835251,0.175209537131761,0.175696922793722,0.182369826095918,...,Freight,International Shipping,Liquids,Biomass,None,None,None,None,None,None
82826,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,192.822.999.825.547,190.216.679.908.231,188.729.470.240.778,182.864.640.100.136,173.551.959.036.235,172.096.859.194.787,170.025.701.602.085,...,Freight,International Shipping,Liquids,Fossil,None,None,None,None,None,None
82851,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,0,0,0,0,0,0,0,...,Freight,International Shipping,Liquids,Hydrogen,None,None,None,None,None,None
82876,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,0.0130635639285938,0.0211886225501252,0.0282663003465992,0.0667792098012143,0.11347173787013,0.112373860519604,0.114466759616053,...,Pass,International Aviation,Liquids,Biomass,None,None,None,None,None,None
82901,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,124.886.037.637.166,128.644.349.186.318,121.614.445.756.805,114.099.687.205.296,107.328.472.491.565,104.698.203.561.295,10.111.123.061.252,...,Pass,International Aviation,Liquids,Fossil,None,None,None,None,None,None
82926,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,0,0,0,0,0,0,0,...,Pass,International Aviation,Liquids,Hydrogen,None,None,None,None,None,None
85303,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,193.731.138.639.205,191.873.628.485.326,191.396.940.274.002,191.490.131.898.488,191.072.912.749.411,189.666.551.474.159,188.262.684.211.677,...,Freight,International Shipping,Liquids,None,None,None,None,None,None,None
85528,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,International Aviation,Liquids,None,None,None,None,None,None,None
108058,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,193.731.138.639.205,191.873.628.485.326,191.396.940.274.002,191.490.131.898.488,191.072.912.749.411,189.666.551.474.159,188.262.684.211.677,...,Freight,International Shipping,None,None,None,None,None,None,None,None
108283,EU27,FE|Transport|Bunkers|Pass|International Aviation,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,International Aviation,None,None,None,None,None,None,None,None
110858,EU27,FE|Transport|Bunkers|Freight,EJ/yr,193.731.138.639.205,191.873.628.485.326,191.396.940.274.002,191.490.131.898.488,191.072.912.749.411,189.666.551.474.159,188.262.684.211.677,...,Freight,None,None,None,None,None,None,None,None,None
111083,EU27,FE|Transport|Bunkers|Pass,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,None,None,None,None,None,None,None,None,None
111758,EU27,FE|Transport|Bunkers|Freight|Liquids,EJ/yr,193.731.138.639.205,191.873.628.485.326,191.396.940.274.002,191.490.131.898.488,191.072.912.749.411,189.666.551.474.159,188.262.684.211.677,...,Freight,Liquids,None,None,None,None,None,None,None,None
111983,EU27,FE|Transport|Bunkers|Pass|Liquids,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,Liquids,None,None,None,None,None,None,None,None
125988,EU27,FE|Transport|Bunkers|Freight|Liquids|Biomass,EJ/yr,0.009081388136571,0.0165694857709562,0.0266747003322437,0.0862549179835251,0.175209537131761,0.175696922793722,0.182369826095918,...,Freight,Liquids,Biomass,None,None,None,None,None,None,None
126013,EU27,FE|Transport|Bunkers|Freight|Liquids|Fossil,EJ/yr,192.822.999.825.547,190.216.679.908.231,188.729.470.240.778,182.864.640.100.136,173.551.959.036.235,172.096.859.194.787,170.025.701.602.085,...,Freight,Liquids,Fossil,None,None,None,None,None,None,None
126038,EU27,FE|Transport|Bunkers|Freight|Liquids|Hydrogen,EJ/yr,0,0,0,0,0,0,0,...,Freight,Liquids,Hydrogen,None,None,None,None,None,None,None
126063,EU27,FE|Transport|Bunkers|Pass|Liquids|Biomass,EJ/yr,0.0130635639285938,0.0211886225501252,0.0282663003465992,0.0667792098012143,0.11347173787013,0.112373860519604,0.114466759616053,...,Pass,Liquids,Biomass,None,None,None,None,None,None,None
126088,EU27,FE|Transport|Bunkers|Pass|Liquids|Fossil,EJ/yr,124.886.037.637.166,128.644.349.186.318,121.614.445.756.805,114.099.687.205.296,107.328.472.491.565,104.698.203.561.295,10.111.123.061.252,...,Pass,Liquids,Fossil,None,None,None,None,None,None,None
126113,EU27,FE|Transport|Bunkers|Pass|Liquids|Hydrogen,EJ/yr,0,0,0,0,0,0,0,...,Pass,Liquids,Hydrogen,None,None,None,None,None,None,None

In [116]:
Bunkers_all = final_energy[final_energy['Variable'].str.contains("Domestic")]
Bunkers_all

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
82951,EU27,FE|Transport|Freight|Domestic Shipping|Liquids...,EJ/yr,0.00140735449300576,0.00273079883540068,0.00448251242683831,0.0091928725166927,0.0148869266412485,0.0185138035803813,0.0219034298404467,...,Domestic Shipping,Liquids,Biomass,None,None,None,None,None,None,None
82976,EU27,FE|Transport|Freight|Domestic Shipping|Liquids...,EJ/yr,0.259807074571098,0.235134071448486,0.190193100646606,0.127486442911967,0.125543294013013,0.132360875807791,0.125884447256824,...,Domestic Shipping,Liquids,Fossil,None,None,None,None,None,None,None
83001,EU27,FE|Transport|Freight|Domestic Shipping|Liquids...,EJ/yr,0,0,0,0,0,0,0,...,Domestic Shipping,Liquids,Hydrogen,None,None,None,None,None,None,None
83851,EU27,FE|Transport|Pass|Domestic Aviation|Liquids|Bi...,EJ/yr,0.00266647931685067,0.0044990931589064,0.0029510379794417,0.00925524640716485,0.0134207837720031,0.0196526327910718,0.0282086105769657,...,Domestic Aviation,Liquids,Biomass,None,None,None,None,None,None,None
83876,EU27,FE|Transport|Pass|Domestic Aviation|Liquids|Fo...,EJ/yr,0.2712756372131,0.26468362082471,0.122837122784788,0.126387022395794,0.127827437337491,0.159668925393941,0.17245294274549,...,Domestic Aviation,Liquids,Fossil,None,None,None,None,None,None,None
83901,EU27,FE|Transport|Pass|Domestic Aviation|Liquids|Hy...,EJ/yr,0,0,0,0,0,0,0,...,Domestic Aviation,Liquids,Hydrogen,None,None,None,None,None,None,None
85753,EU27,FE|Transport|Freight|Domestic Shipping|Liquids,EJ/yr,0.261214429064104,0.237864870283886,0.194675613073445,0.136679315428659,0.140430220654262,0.150874679388172,0.147787877097271,...,Domestic Shipping,Liquids,None,None,None,None,None,None,None,None
91836,EU27,FE|Transport|Pass|Domestic Aviation|Hydrogen,EJ/yr,0,0,0,0,"1,97E+06","4,83E+06","1,14E+07",...,Domestic Aviation,Hydrogen,None,None,None,None,None,None,None,None
92053,EU27,FE|Transport|Pass|Domestic Aviation|Liquids,EJ/yr,0.27394211652995,0.269182713983617,0.125788160764229,0.135642268802959,0.141248221109494,0.179321558185013,0.200661553322456,...,Domestic Aviation,Liquids,None,None,None,None,None,None,None,None
108508,EU27,FE|Transport|Freight|Domestic Shipping,EJ/yr,0.261214429064104,0.237864870283886,0.194675613073445,0.136679315428659,0.140430220654262,0.150874679388172,0.147787877097271,...,Domestic Shipping,None,None,None,None,None,None,None,None,None
109258,EU27,FE|Transport|Pass|Domestic Aviation,EJ/yr,0.27394211652995,0.269182713983617,0.125788160764229,0.135642268802959,0.141248240793606,0.179321606438608,0.200662695279579,...,Domestic Aviation,None,None,None,None,None,None,None,None,None

In [44]:
passenger = final_energy.query("Variable_2 == 'Pass'")
passenger_str = final_energy[final_energy["Variable"].str.contains("Pass")]
# Rows in passenger_str but not in passenger
difference_str_not_in_passenger = passenger_str[~passenger_str.index.isin(passenger.index)]
difference_str_not_in_passenger

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
82876,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,0.0130635639285938,0.0211886225501252,0.0282663003465992,0.0667792098012143,0.11347173787013,0.112373860519604,0.114466759616053,...,Pass,International Aviation,Liquids,Biomass,None,None,None,None,None,None
82901,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,124.886.037.637.166,128.644.349.186.318,121.614.445.756.805,114.099.687.205.296,107.328.472.491.565,104.698.203.561.295,10.111.123.061.252,...,Pass,International Aviation,Liquids,Fossil,None,None,None,None,None,None
82926,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,0,0,0,0,0,0,0,...,Pass,International Aviation,Liquids,Hydrogen,None,None,None,None,None,None
85528,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,International Aviation,Liquids,None,None,None,None,None,None,None
108283,EU27,FE|Transport|Bunkers|Pass|International Aviation,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,International Aviation,None,None,None,None,None,None,None,None
111083,EU27,FE|Transport|Bunkers|Pass,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,None,None,None,None,None,None,None,None,None
111983,EU27,FE|Transport|Bunkers|Pass|Liquids,EJ/yr,126.192.394.030.025,130.763.211.441.331,124.441.075.791.465,120.777.608.185.417,118.675.646.278.578,115.935.589.613.255,112.557.906.574.125,...,Pass,Liquids,None,None,None,None,None,None,None,None
126063,EU27,FE|Transport|Bunkers|Pass|Liquids|Biomass,EJ/yr,0.0130635639285938,0.0211886225501252,0.0282663003465992,0.0667792098012143,0.11347173787013,0.112373860519604,0.114466759616053,...,Pass,Liquids,Biomass,None,None,None,None,None,None,None
126088,EU27,FE|Transport|Bunkers|Pass|Liquids|Fossil,EJ/yr,124.886.037.637.166,128.644.349.186.318,121.614.445.756.805,114.099.687.205.296,107.328.472.491.565,104.698.203.561.295,10.111.123.061.252,...,Pass,Liquids,Fossil,None,None,None,None,None,None,None
126113,EU27,FE|Transport|Bunkers|Pass|Liquids|Hydrogen,EJ/yr,0,0,0,0,0,0,0,...,Pass,Liquids,Hydrogen,None,None,None,None,None,None,None
128100,EU27,FE|Transport|Pass with bunkers,EJ/yr,874.536.384.718.525,924.810.623.150.173,896.546.801.318.494,893.188.479.385.387,832.647.208.631.168,743.016.166.893.025,609.230.002.405.795,...,None,None,None,None,None,None,None,None,None,None
128808,EU27,FE|Transport|Pass with bunkers|Electricity,EJ/yr,0.221148315895051,0.213521456739975,0.222990141470375,0.270641526223325,0.442904779963281,0.783721698203948,13.606.934.411.379,...,Electricity,None,None,None,None,None,None,None,None,None
128811,EU27,FE|Transport|Pass with bunkers|Gases,EJ/yr,0.0825672848574497,0.082456444913131,0.0617649992427059,0.0404651084926318,0.0706697499665846,0.105552179518731,0.106476241208134,...,Gases,None,None,None,None,None,None,None,None,None
128814,EU27,FE|Transport|Pass with bunkers|Hydrogen,EJ/yr,0.0180263622107814,0.0186624675891378,0.0169039588770716,0.0150200942348974,0.018728555160095,0.0256421882458166,0.0650352278595402,...,Hydrogen,None,None,None,None,None,None,None,None,None
128817,EU27,FE|Transport|Pass with bunkers|Liquids,EJ/yr,842.362.188.422.197,893.346.586.225.948,866.380.891.359.479,860.575.806.490.302,779.416.900.122.171,651.524.560.296.175,456.009.511.385.237,...,Liquids,None,None,None,None,None,None,None,None,None

In [ ]:
freight = final_energy.query("Variable_2 == 'Freight'")
# bunkers = final_energy.query("Variable_2 == 'Bunkers'")
# Tqke only the domestic shipping and aviation instead of bunkers
domestic_shipping = final_energy[final_energy['Variable'].str.contains("Domestic Shipping")]
domestic_aviation = final_energy[final_energy['Variable'].str.contains("Domestic Aviation")]
bunkers = pd.concat([domestic_shipping, domestic_aviation])
bunkers

In [55]:
freight_road = freight.query("Variable_3 == 'Road'")
freight_domestic_shipping = freight.query("Variable_3 == 'Domestic Shipping'")
freight_rail = freight.query( "Variable_3 == 'Rail'")

In [56]:
pass_road = passenger.query("Variable_3 == 'Road'")
pass_rail = passenger.query("Variable_3 == 'Rail'")
pass_domestic_aviation = passenger.query("Variable_3 == 'Domestic Aviation'")
pass_aviation = passenger.query("Variable_3 == 'Aviation'")
domestic_pass_aviation = passenger.query("Variable_3 == 'Domestic Aviation'")
pass_non_motorized = passenger.query("Variable_3 == 'Non-motorized'")

##### Aviation
Domestic passenger aviation can be distributed based on Eurostat: National air passenger transport by reporting countryÂ (avia_panc)
Bunkers and aviation - International aviation can be distributed badsed on International intra-EU adn extra-EU air passenger transport by reporting country and EU partner countryÂ (avia_paincc) & (avia_paexcc)

Other option: Aggregate and get share of domestic and "international" from the 2024 and then use this on total share of passengers on data set: Air transport of passengers by country (yearly data)Â (ttr00012)

#### Maritime 
International shipping and domestic shipping is distributed on total goods handled in each country. 

Other option would be to distribute these on inside and outside the EU shipped goods. However, domestic is exclusive to maritime transport in that country.  
Domestic shipping is bigger by 3 times than internationla shipping. Needs to be considered. Ask if this can be better approximiated by transport within the EU.

#### Railway 
Railway transport measurement - passenger - passenger transported. Missing data on Beligium, Hungary, Netherlands, Poland, UK, Montenegro. Data for Poland in data set Rail transport of passenger. Approximatingf rail transport over people? Finding a relationship between passengers transported to people? Average of pkm/p and then scale up to country size. 
Railway transport measurement - goods - goods transported. Missing data on Belgium and Greece. Needs to be approximated, Averages? Less data in the overall dataset.

In [23]:
freight_domestic_shipping

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,2050,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
85756,EU27,ES|Transport|Freight|Domestic Shipping|Liquids,billion tkm/yr,677.697.788.892.512,60.982.050.935.521,501.754.879.520.338,35.380.868.263.269,365.199.729.280.437,39.417.908.081.665,387.932.418.326.779,...,343.301.134.715.182,ES,Transport,Freight,Domestic Shipping,Liquids,None,None,None,None
108511,EU27,ES|Transport|Freight|Domestic Shipping,billion tkm/yr,677.697.788.892.512,60.982.050.935.521,501.754.879.520.338,35.380.868.263.269,365.199.729.280.437,39.417.908.081.665,387.932.418.326.779,...,343.301.134.715.182,ES,Transport,Freight,Domestic Shipping,None,None,None,None,None

In [46]:
bunkers

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,2050,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
85306,EU27,ES|Transport|Bunkers|Freight|International Shi...,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,183.918.331.118.949,ES,Transport,Bunkers,Freight,International Shipping,Liquids,None,None,None
85531,EU27,ES|Transport|Bunkers|Pass|International Aviati...,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,903.687.722.678.353,ES,Transport,Bunkers,Pass,International Aviation,Liquids,None,None,None
108061,EU27,ES|Transport|Bunkers|Freight|International Shi...,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,183.918.331.118.949,ES,Transport,Bunkers,Freight,International Shipping,None,None,None,None
108286,EU27,ES|Transport|Bunkers|Pass|International Aviation,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,903.687.722.678.353,ES,Transport,Bunkers,Pass,International Aviation,None,None,None,None
110861,EU27,ES|Transport|Bunkers|Freight,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,183.918.331.118.949,ES,Transport,Bunkers,Freight,None,None,None,None,None
111086,EU27,ES|Transport|Bunkers|Pass,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,903.687.722.678.353,ES,Transport,Bunkers,Pass,None,None,None,None,None
111761,EU27,ES|Transport|Bunkers|Freight|Liquids,billion tkm/yr,185.631.998.939.146,184.457.000.986.628,184.920.903.309.231,185.914.441.026.991,186.389.943.632.971,18.591.225.133.797,185.443.448.319.235,...,183.918.331.118.949,ES,Transport,Bunkers,Freight,Liquids,None,None,None,None
111986,EU27,ES|Transport|Bunkers|Pass|Liquids,billion pkm/yr,659.343.715.138.367,733.834.052.920.723,752.300.236.315.217,787.889.981.656.275,814.726.442.490.327,8.379.121.086.768,85.784.409.040.428,...,903.687.722.678.353,ES,Transport,Bunkers,Pass,Liquids,None,None,None,None

In [45]:
domestic_pass_aviation

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,2050,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
91839,EU27,ES|Transport|Pass|Domestic Aviation|Hydrogen,billion pkm/yr,0,0,0,0,"1,43E+09","3,70E+09",0.000923370990778387,...,0.00605601782280218,ES,Transport,Pass,Domestic Aviation,Hydrogen,None,None,None,None
92056,EU27,ES|Transport|Pass|Domestic Aviation|Liquids,billion pkm/yr,767.917.492.694.835,798.176.655.354.132,402.351.031.830.417,468.410.360.215.879,513.985.855.325.717,687.645.012.641.506,809.940.014.531.003,...,700.680.754.058.941,ES,Transport,Pass,Domestic Aviation,Liquids,None,None,None,None
109261,EU27,ES|Transport|Pass|Domestic Aviation,billion pkm/yr,767.917.492.694.835,798.176.655.354.132,402.351.031.830.417,468.410.360.215.879,513.985.998.550.115,687.645.382.701.035,809.949.248.240.911,...,700.741.314.237.169,ES,Transport,Pass,Domestic Aviation,None,None,None,None,None

In [44]:
pass_aviation

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,2050,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
135303,EU27,ES|Transport|Pass|Aviation,billion pkm/yr,73.613.546.440.785,813.651.718.456.136,792.535.339.498.259,834.731.017.677.863,866.125.042.345.338,906.676.646.946.903,938.839.015.228.371,...,97.376.185.410.207,ES,Transport,Pass,Aviation,None,None,None,None,None
135678,EU27,ES|Transport|Pass|Aviation|Hydrogen,billion pkm/yr,0,0,0,0,"1,43E+09","3,70E+09",0.000923370990778387,...,0.00605601782280218,ES,Transport,Pass,Aviation,Hydrogen,None,None,None,None
135681,EU27,ES|Transport|Pass|Aviation|Liquids,billion pkm/yr,73.613.546.440.785,813.651.718.456.136,792.535.339.498.259,834.731.017.677.863,866.125.028.022.899,90.667.660.994.095,93.883.809.185.738,...,973.755.798.084.247,ES,Transport,Pass,Aviation,Liquids,None,None,None,None

In [122]:
passenger.Variable_3.unique()

array(['Domestic Aviation', 'Road', 'Rail', 'Non-motorized', None, 'BEV',
       'Electric', 'FCEV', 'Gases', 'Hybrid electric', 'Hydrogen',
       'Liquids', 'Aviation'], dtype=object)

In [112]:
energy_service.query("Variable_2 == 'Freight'").Variable_3.unique()

array(['Domestic Shipping', 'Rail', 'Road', None, 'BEV', 'Electric',
       'FCEV', 'Gases', 'Liquids'], dtype=object)

In [59]:
energy_service.Variable_1.unique()

array(['Transport', 'Transport edge', 'Transport with bunkers'],
      dtype=object)

In [60]:
energy_service.Variable_2.unique()

array(['Bunkers', 'Freight', 'Pass', 'Pass with bunkers',
       'Freight with bunkers', None, 'BEV', 'FCEV', 'Gases', 'Liquids',
       'Hybrid electric', 'Hydrogen', 'Electric', 'Road', 'Rail'],
      dtype=object)

In [61]:
energy_service.Variable_3.unique()

array(['Freight', 'Pass', 'Domestic Shipping', 'Rail', 'Road',
       'Domestic Aviation', 'Non-motorized', None, 'BEV', 'Electric',
       'FCEV', 'Gases', 'Liquids', 'Hybrid electric', 'Hydrogen',
       'Aviation'], dtype=object)

In [62]:
energy_service.Variable_4.unique()

array(['International Shipping', 'International Aviation', 'Liquids',
       'Electric', 'Heavy', 'Light', 'Hydrogen', 'Bus', 'LDV', 'HSR',
       'non-HSR', None, 'Cycle', 'Walk', 'BEV', 'FCEV', 'Gases',
       'Hybrid electric'], dtype=object)

In [63]:
energy_service.Variable_5.unique()

array(['Liquids', None, 'Truck(18t)', 'Truck(26t)', 'Truck(40t)',
       'Truck(0-3_5t)', 'Truck(7_5t)', 'BEV', 'FCEV', 'Gases',
       'Four Wheelers', 'Two Wheelers', 'Electric', 'Hybrid electric'],
      dtype=object)

In [64]:
energy_service.Variable_6.unique()

array([None, 'BEV', 'FCEV', 'Gases', 'Liquids', 'Large', 'Medium',
       'Small', 'Moped', 'Motorcycle(50-250cc)', 'Motorcycle(>250cc)',
       'Hybrid electric'], dtype=object)

In [65]:
energy_service.Variable_7.unique()

array([None, 'Large Car and SUV', 'Van', 'Compact Car', 'Midsize Car',
       'Mini Car', 'Subcompact Car', 'BEV', 'Liquids', 'FCEV', 'Gases',
       'Hybrid electric'], dtype=object)

In [66]:
energy_service.Variable_8.unique()

array([None, 'BEV', 'FCEV', 'Gases', 'Hybrid electric', 'Liquids'],
      dtype=object)