In [1]:
import pandas as pd
import geopandas as gpd
import os
from osgeo import ogr
import numpy as np

#### Global treatment of Eurostat and REMIND 

##### Global steps :
- Use the saved files from Eurostat 
- Distribute shares for countries to the total value
- Save new final output file with only relevant data

In [11]:
os.chdir(r"C:\Users\mar.eco\OneDrive - CBS - Copenhagen Business School\Desktop\PtX-Markets\REMIND")

In [12]:
transport_data = pd.read_csv("REMIND_Transport_Output.mif", sep=';')

In [13]:
transport_data = transport_data.drop(columns={"Model", "Scenario","2055", "2060", "2070", "2080", "2090", "2100", "2110", "2130", "2150"})

In [14]:
transport_data.Region.unique()
Variable = transport_data['Variable'].str.split('|', expand=True)

In [15]:
transport_EU = transport_data.query("Region == 'EU27'")

In [16]:
def split_variable(df):
    variables = df['Variable'].str.split('|', expand=True)
    num_cols =  variables.shape[1]
    new_column_names = [f'Variable_{i}' for i in range(num_cols)]
    df[new_column_names] = variables
    return(df)

In [17]:
transport_EU = split_variable(transport_EU)

C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_14108\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables

In [18]:
final_energy = transport_EU[(transport_EU["Variable_0"] == "FE") & (transport_EU["Variable_1"] == "Transport")]

In [19]:
final_energy

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
82801,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,0.009081,0.016569,0.026675,0.086255,1.752095e-01,1.756969e-01,0.182370,...,Freight,International Shipping,Liquids,Biomass,None,None,None,None,None,None
82826,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,1.928230,1.902167,1.887295,1.828646,1.735520e+00,1.720969e+00,1.700257,...,Freight,International Shipping,Liquids,Fossil,None,None,None,None,None,None
82851,EU27,FE|Transport|Bunkers|Freight|International Shi...,EJ/yr,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,...,Freight,International Shipping,Liquids,Hydrogen,None,None,None,None,None,None
82876,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,0.013064,0.021189,0.028266,0.066779,1.134717e-01,1.123739e-01,0.114467,...,Pass,International Aviation,Liquids,Biomass,None,None,None,None,None,None
82901,EU27,FE|Transport|Bunkers|Pass|International Aviati...,EJ/yr,1.248860,1.286443,1.216144,1.140997,1.073285e+00,1.046982e+00,1.011112,...,Pass,International Aviation,Liquids,Fossil,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135672,EU27,FE|Transport|Pass|Aviation|Hydrogen,EJ/yr,0.000000,0.000000,0.000000,0.000000,1.968411e-08,4.825360e-08,0.000001,...,Aviation,Hydrogen,None,None,None,None,None,None,None,None
135675,EU27,FE|Transport|Pass|Aviation|Liquids,EJ/yr,1.535866,1.576815,1.370199,1.343418,1.328005e+00,1.338677e+00,1.326241,...,Aviation,Liquids,None,None,None,None,None,None,None,None
135799,EU27,FE|Transport|Pass|Aviation|Liquids||Fossil,EJ/yr,1.520136,1.551127,1.338982,1.267384,1.201112e+00,1.206651e+00,1.183565,...,Aviation,Liquids,,Fossil,None,None,None,None,None,None
135802,EU27,FE|Transport|Pass|Aviation|Liquids||Hydrogen,EJ/yr,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,...,Aviation,Liquids,,Hydrogen,None,None,None,None,None,None
135805,EU27,FE|Transport|Pass|Aviation|Liquids||Biomass,EJ/yr,0.015730,0.025688,0.031217,0.076034,1.268925e-01,1.320265e-01,0.142675,...,Aviation,Liquids,,Biomass,None,None,None,None,None,None

In [20]:
def filter_exact_path(df, path):
    variables_split = df['Variable'].str.split('|', expand=True)
    expected_depth = len(path.split('|'))
    
    # Replace None/NaN with empty strings to avoid errors
    cleaned = variables_split.iloc[:, :expected_depth].fillna('')
    
    joined_path = cleaned.agg('|'.join, axis=1)
    actual_depth = variables_split.notna().sum(axis=1)

    mask = (joined_path == path) & (actual_depth == expected_depth)
    return df[mask]

In [21]:
categories = [
    "FE|Transport|Freight|Road|Heavy",
    "FE|Transport|Freight|Road|Light",
    "FE|Transport|Pass|Road|Bus",
    "FE|Transport|Pass|Road|LDV|Four Wheelers",
    "FE|Transport|Pass|Road|LDV|Two Wheelers",
    "FE|Transport|Pass|Domestic Aviation",
    "FE|Transport|Pass|Aviation",
    "FE|Transport|Pass|Rail",
    "FE|Transport|Freight|Rail"
]

In [26]:
categories_fuel_4w = [
    "FE|Transport|Pass|Road|LDV|Four Wheelers|Electricity",
    "FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen",
    "FE|Transport|Pass|Road|LDV|Four Wheelers|Gases",
    "FE|Transport|Pass|Road|LDV|Four Wheelers|Liquids",
]

In [23]:
filtered_data = {}
for category in categories:
    filtered_data[category] = filter_exact_path(final_energy, category)

In [27]:
filtered_data_4w = {}
for category in categories_fuel_4w:
    filtered_data_4w[category] = filter_exact_path(final_energy, category)

In [28]:
filtered_data['FE|Transport|Pass|Road|LDV|Four Wheelers']

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
106996,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers,EJ/yr,6.402265,6.78462,6.755867,6.756423,6.178979,5.292917,3.971894,...,Road,LDV,Four Wheelers,None,None,None,None,None,None,None

In [29]:
filtered_data_4w['FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen']

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8,Variable_9,Variable_10,Variable_11,Variable_12
119211,EU27,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,EJ/yr,0.018026,0.018662,0.016835,0.014803,0.018083,0.024181,0.061484,...,Road,LDV,Four Wheelers,Hydrogen,None,None,None,None,None,None

##### Import Eurostat files to use as proxy  

The Eurostat files have share for every EU27 countries as well as the total value of EU27.
The objective is to create a new final dataframe that has :
- Transport category (12 total categories)
- Given EU27 value of REMIND for each year
- Share of the choesen Eurostat year for each country
- Values for each country of EU27 and each year

In [30]:
file_names = ["estat_road_go_ta_mplw_heavy.tsv.gz", "estat_road_go_ta_mplw_light.tsv.gz", 
             "estat_tran_r_vehst.tsv.gz", "estat_road_eqs_carmot.tsv.gz", "estat_road_eqs_two_wheelers.tsv.gz",
              "estat_avia_panc.tsv.gz", "estat_avia_international.tsv.gz", 
              "estat_ttr00015.tsv.gz", "estat_ttr00006.tsv.gz"]

In [17]:
file_names_4w = ["estat_road_eqs_carmot.tsv.gz", "estat_road_eqs_carmot.tsv.gz", 
             "estat_road_eqs_carmot.tsv.gz", "estat_road_eqs_carmot.tsv.gz"]

In [31]:
base_path = r"C:\Users\mar.eco\OneDrive - CBS - Copenhagen Business School\Desktop\PtX-Markets\REMIND\Data\Final"

In [32]:
category_file_map = dict(zip(categories, file_names))
category_file_map

{'FE|Transport|Freight|Road|Heavy': 'estat_road_go_ta_mplw_heavy.tsv.gz',
 'FE|Transport|Freight|Road|Light': 'estat_road_go_ta_mplw_light.tsv.gz',
 'FE|Transport|Pass|Road|Bus': 'estat_tran_r_vehst.tsv.gz',
 'FE|Transport|Pass|Road|LDV|Four Wheelers': 'estat_road_eqs_carmot.tsv.gz',
 'FE|Transport|Pass|Road|LDV|Two Wheelers': 'estat_road_eqs_two_wheelers.tsv.gz',
 'FE|Transport|Pass|Domestic Aviation': 'estat_avia_panc.tsv.gz',
 'FE|Transport|Pass|Aviation': 'estat_avia_international.tsv.gz',
 'FE|Transport|Pass|Rail': 'estat_ttr00015.tsv.gz',
 'FE|Transport|Freight|Rail': 'estat_ttr00006.tsv.gz'}

In [20]:
category_file_map_4w = dict(zip(categories_fuel_4w, file_names_4w))
category_file_map_4w

{'FE|Transport|Pass|Road|LDV|Four Wheelers|Electricity': 'estat_road_eqs_carmot.tsv.gz',
 'FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen': 'estat_road_eqs_carmot.tsv.gz',
 'FE|Transport|Pass|Road|LDV|Four Wheelers|Gases': 'estat_road_eqs_carmot.tsv.gz',
 'FE|Transport|Pass|Road|LDV|Four Wheelers|Liquids': 'estat_road_eqs_carmot.tsv.gz'}

In [33]:
def process_value(value):
    # Check if there's exactly one dot (then it is a decimal and not thousand)
    if value.count('.') == 1:
        if len(value.split('.')[0]) > 3:
            return value.replace(".", "")  # Remove dot as thousands separator
        else:
            return value
    else:
        # If there's no dot or multiple dots, remove all dots (treat as thousands)
        return value.replace(".", "")

In [34]:
all_distributed = []
for category, eurostat_file in category_file_map.items():
    remind_df = filtered_data[category]
    eurostat_path = os.path.join(base_path, eurostat_file)

    remind_row = remind_df[remind_df["Region"] == "EU27"].iloc[0]
    years = [col for col in remind_row.index if col.isdigit()]
    
    remind_values = remind_row[years].astype(str).apply(process_value).astype(float)

    euro_df = pd.read_csv(eurostat_path, compression="gzip", delimiter="\t")
    euro_df.columns = euro_df.columns.str.strip()

    # Find share column = last one
    share_col = euro_df.columns[-1]
    shares = euro_df[["country_code", share_col]].copy()
    shares.columns = ["Country", "Share"]

    for year in years:
        eu_value = remind_values[year]
        shares["Value"] = shares["Share"] * eu_value
        shares["Year"] = year
        shares["Category"] = category

        all_distributed.append(shares[["Category", "Country", "Year", "Value"]])

In [23]:
all_distributed = []
for category, eurostat_file in category_file_map_4w.items():
    remind_df = filtered_data_4w[category]
    eurostat_path = os.path.join(base_path, eurostat_file)

    remind_row = remind_df[remind_df["Region"] == "EU27"].iloc[0]
    years = [col for col in remind_row.index if col.isdigit()]
    
    remind_values = remind_row[years].astype(str).apply(process_value).astype(float)

    euro_df = pd.read_csv(eurostat_path, compression="gzip", delimiter="\t")
    euro_df.columns = euro_df.columns.str.strip()

    # Find share column = last one
    share_col = euro_df.columns[-1]
    shares = euro_df[["country_code", share_col]].copy()
    shares.columns = ["Country", "Share"]

    for year in years:
        eu_value = remind_values[year]
        shares["Value"] = shares["Share"] * eu_value
        shares["Year"] = year
        shares["Category"] = category

        all_distributed.append(shares[["Category", "Country", "Year", "Value"]])

In [35]:
final_df = pd.concat(all_distributed, ignore_index=True)

In [25]:
final_df_4w = pd.concat(all_distributed, ignore_index=True)

In [36]:
pivoted_df = final_df.pivot_table(
    index=["Category", "Country"],  # rows: one per category & country
    columns="Year",                 # columns become the years
    values="Value"                  
).reset_index()

In [27]:
pivoted_df = final_df_4w.pivot_table(
    index=["Category", "Country"],  # rows: one per category & country
    columns="Year",                 # columns become the years
    values="Value"                  
).reset_index()

In [37]:
final_df[(final_df['Category'] == "FE|Transport|Freight|Rail") & (final_df['Year'] == "2020")]

                       Category    Country  Year     Value
2327  FE|Transport|Freight|Rail         AT  2020  0.006326
2328  FE|Transport|Freight|Rail         BE  2020  0.004406
2329  FE|Transport|Freight|Rail         BG  2020  0.001117
2330  FE|Transport|Freight|Rail         CY  2020  0.000000
2331  FE|Transport|Freight|Rail         CZ  2020  0.004503
2332  FE|Transport|Freight|Rail         DE  2020  0.036068
2333  FE|Transport|Freight|Rail         DK  2020  0.000754
2334  FE|Transport|Freight|Rail         EE  2020  0.000661
2335  FE|Transport|Freight|Rail         EL  2020  0.000102
2336  FE|Transport|Freight|Rail         EL  2020  0.000102
2337  FE|Transport|Freight|Rail         ES  2020  0.002998
2338  FE|Transport|Freight|Rail  EU27_2020  2020  0.121933
2339  FE|Transport|Freight|Rail         FI  2020  0.002945
2340  FE|Transport|Freight|Rail         FR  2020  0.010085
2341  FE|Transport|Freight|Rail         HR  2020  0.000737
2342  FE|Transport|Freight|Rail         HU  2020  0.003796
2343  FE|Transport|Freight|Rail         IE  2020  0.000028
2344  FE|Transport|Freight|Rail         IT  2020  0.006348
2345  FE|Transport|Freight|Rail         LT  2020  0.004381
2346  FE|Transport|Freight|Rail         LU  2020  0.000061
2347  FE|Transport|Freight|Rail         LV  2020  0.004267
2348  FE|Transport|Freight|Rail         MT  2020  0.000000
2349  FE|Transport|Freight|Rail         NL  2020  0.001900
2350  FE|Transport|Freight|Rail         PL  2020  0.015575
2351  FE|Transport|Freight|Rail         PT  2020  0.000782
2352  FE|Transport|Freight|Rail         RO  2020  0.003917
2353  FE|Transport|Freight|Rail         SE  2020  0.006207
2354  FE|Transport|Freight|Rail         SI  2020  0.001458
2355  FE|Transport|Freight|Rail         SK  2020  0.002409

In [32]:
final_df_4w[(final_df_4w['Category'] == "FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen") & (final_df['Year'] == "2020")]

,Category,Country,Year,Value
364,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,AT,2020,0.000300
365,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,BE,2020,0.000350
366,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,BG,2020,0.000174
367,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,CY,2020,0.000036
368,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,CZ,2020,0.000376
369,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,DE,2020,0.002838
370,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,DK,2020,0.000163
371,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,EE,2020,0.000050
372,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,EL,2020,0.000340
373,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,ES,2020,0.001548
374,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,EU27_2020,2020,0.014803
375,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,FI,2020,0.000215
376,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,FR,2020,0.002269
377,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,HR,2020,0.000110
378,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,HU,2020,0.000241
379,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,IE,2020,0.000139
380,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,IT,2020,0.002365
381,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,LT,2020,0.000098
382,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,LU,2020,0.000026
383,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,LV,2020,0.000045
384,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,MT,2020,0.000019
385,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,NL,2020,0.000524
386,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,PL,2020,0.001260
387,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,PT,2020,0.000338
388,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,RO,2020,0.000469
389,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,SE,2020,0.000288
390,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,SI,2020,0.000071
391,FE|Transport|Pass|Road|LDV|Four Wheelers|Hydrogen,SK,2020,0.000153

In [38]:
check_sum = final_df[final_df['Category'] == "FE|Transport|Freight|Rail"].groupby("Year")["Value"].sum()
check_sum

Year
2005    0.243391
2010    0.236970
2015    0.198990
2020    0.243866
2025    0.250085
2030    0.250159
2035    0.241598
2040    0.240978
2045    0.239314
2050    0.237722
Name: Value, dtype: float64

In [39]:
output_path = r"C:\Users\mar.eco\OneDrive - CBS - Copenhagen Business School\Desktop\PtX-Markets\REMIND\Results_REMIND_yearly.csv"
final_df.to_csv(output_path, index=False)

In [39]:
output_path = r"C:\Users\mar.eco\OneDrive - CBS - Copenhagen Business School\Desktop\PtX-Markets\REMIND\Results_REMIND_4w_yearly.csv"
final_df_4w.to_csv(output_path, index=False)