### Old script for screening transport data from REMIND

In [5]:
import pandas as pd
import geopandas as gpd
import os
from osgeo import ogr

In [6]:
transport_path = os.path.join('..', '..', 'REMIND', 'REMIND_Transport_Output.mif')
transport_data = pd.read_csv(transport_path, sep=';')

In [7]:
transport_data

,Model,Scenario,Region,Variable,Unit,2005,2010,2015,2020,2025,...,2055,2060,2070,2080,2090,2100,2110,2130,2150,Unnamed: 24
0,EDGE-T,Mix2ICEban gdp_SSP2,CAZ,Preference|S1S|Transport|Bunkers|Freight|Inter...,-,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN
1,EDGE-T,Mix2ICEban gdp_SSP2,CAZ,Preference|S2S1|Transport|Bunkers|Freight|Inte...,-,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN
2,EDGE-T,Mix2ICEban gdp_SSP2,CAZ,Preference|S3S2|Transport|Bunkers|Freight|Inte...,-,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN
3,EDGE-T,Mix2ICEban gdp_SSP2,CAZ,Preference|VS3|Transport|Bunkers|Freight|Inter...,-,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN
4,EDGE-T,Mix2ICEban gdp_SSP2,CHA,Preference|S1S|Transport|Bunkers|Freight|Inter...,-,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135931,EDGE-T,Mix2ICEban gdp_SSP2,EUR,GDP|MER,billion constant 2017 US$MER,15041.963293,15738.636641,16661.118314,17933.155435,19028.349368,...,28062.394330,29659.743747,32813.620672,35642.412230,38083.581615,40090.173535,41444.919534,43212.084890,44766.941630,NaN
135932,EDGE-T,Mix2ICEban gdp_SSP2,NEU,GDP|MER,billion constant 2017 US$MER,1468.543979,1653.310411,1964.844446,2249.876437,2574.328809,...,4472.967156,4754.701018,5255.870031,5647.116854,5948.468040,6190.900673,6356.225182,6571.878703,6761.623444,NaN
135933,EDGE-T,Mix2ICEban gdp_SSP2,World,GDP|PPP,billion constant 2017 Int$PPP,81986.953540,96942.410415,114321.199042,131298.672572,151804.792906,...,313474.353709,345716.428744,415255.084786,487925.524111,564008.251421,644765.679171,703998.917758,781264.270273,849246.903378,NaN
135934,EDGE-T,Mix2ICEban gdp_SSP2,World,Population,million,6555.327047,6972.665356,7406.806009,7823.526641,8171.485437,...,9819.319730,9963.478298,10141.663709,10187.353342,10112.623011,9946.177003,9810.058049,9632.501002,9476.275796,NaN
135935,EDGE-T,Mix2ICEban gdp_SSP2,World,GDP|MER,billion constant 2017 US$MER,58279.506458,66678.939477,76947.202623,86960.368890,98804.403854,...,182731.194769,198430.257246,231533.875918,264892.578656,298812.671005,333899.497659,359446.247190,392770.081160,422090.363857,NaN

In [8]:
# Filter transport data for years and region
transport_data = transport_data.drop(columns={"Model", "Scenario","2055", "2060", "2070", "2080", "2080", "2090", "2100", "2110", "2130", "2150"})
transport_EU = transport_data.query("Region == 'EU27'")
Variable = transport_data['Variable'].str.split('|', expand=True)

In [9]:
def split_variable(df):
    variables = df['Variable'].str.split('|', expand=True)
    num_cols =  variables.shape[1]
    new_column_names = [f'Variable_{i}' for i in range(num_cols)]
    df[new_column_names] = variables
    return(df)

In [10]:
transport_EU = split_variable(transport_EU)

C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables
C:\Users\mar.eco\AppData\Local\Temp\ipykernel_22892\3017919102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_column_names] = variables

In [11]:
energy_service = transport_EU[transport_EU["Variable_0"] == "ES"]
energy_intensity = transport_EU[transport_EU["Variable_0"] == "Energy intensity"]
final_energy = transport_EU[transport_EU["Variable_0"] == "FE"]

In [12]:
energy_service = energy_service.drop(columns={"Variable_9", "Variable_10", "Variable_11", "Variable_12"})

In [13]:
# Aggregated classes? 
energy_service[energy_service["Unit"]== "billion (p|t)km/yr"]

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Unnamed: 24,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
130653,EU27,ES|Transport,billion (p|t)km/yr,8742.718340,8803.089877,9041.692205,9384.806449,9536.065605,9652.826280,9729.774810,...,NaN,ES,Transport,None,None,None,None,None,None,None
131370,EU27,ES|Transport|BEV,billion (p|t)km/yr,9.583593,9.591278,10.856579,24.130275,296.580254,1131.783578,2936.616336,...,NaN,ES,Transport,BEV,None,None,None,None,None,None
131373,EU27,ES|Transport|FCEV,billion (p|t)km/yr,12.915698,12.866849,11.721010,11.413429,19.531933,33.535398,89.160919,...,NaN,ES,Transport,FCEV,None,None,None,None,None,None
131376,EU27,ES|Transport|Gases,billion (p|t)km/yr,63.020436,71.310616,66.698927,59.538754,125.875188,209.856113,228.177660,...,NaN,ES,Transport,Gases,None,None,None,None,None,None
131379,EU27,ES|Transport|Liquids,billion (p|t)km/yr,7612.481336,7694.622741,7799.640229,8056.184493,7686.646349,6668.407327,4737.155707,...,NaN,ES,Transport,Liquids,None,None,None,None,None,None
131591,EU27,ES|Transport|Hybrid electric,billion (p|t)km/yr,69.240076,68.553130,69.533743,97.870896,201.859273,336.504245,377.905929,...,NaN,ES,Transport,Hybrid electric,None,None,None,None,None,None
131716,EU27,ES|Transport|Hydrogen,billion (p|t)km/yr,0.000000,0.000000,0.000000,0.000000,0.000014,0.000037,0.000923,...,NaN,ES,Transport,Hydrogen,None,None,None,None,None,None
131841,EU27,ES|Transport|Electric,billion (p|t)km/yr,763.431780,730.369160,699.119762,869.716973,928.248084,976.648212,1031.330416,...,NaN,ES,Transport,Electric,None,None,None,None,None,None
132053,EU27,ES|Transport with bunkers,billion (p|t)km/yr,27965.261949,27982.624029,28286.082772,28764.140534,28989.786411,29081.963522,29131.963733,...,NaN,ES,Transport with bunkers,None,None,None,None,None,None,None
132770,EU27,ES|Transport with bunkers|BEV,billion (p|t)km/yr,9.583593,9.591278,10.856579,24.130275,296.580254,1131.783578,2936.616336,...,NaN,ES,Transport with bunkers,BEV,None,None,None,None,None,None
132773,EU27,ES|Transport with bunkers|FCEV,billion (p|t)km/yr,12.915698,12.866849,11.721010,11.413429,19.531933,33.535398,89.160919,...,NaN,ES,Transport with bunkers,FCEV,None,None,None,None,None,None
132776,EU27,ES|Transport with bunkers|Gases,billion (p|t)km/yr,63.020436,71.310616,66.698927,59.538754,125.875188,209.856113,228.177660,...,NaN,ES,Transport with bunkers,Gases,None,None,None,None,None,None
132779,EU27,ES|Transport with bunkers|Liquids,billion (p|t)km/yr,26835.024945,26874.156892,27044.030796,27435.518577,27140.367155,26097.544569,24139.344629,...,NaN,ES,Transport with bunkers,Liquids,None,None,None,None,None,None
132991,EU27,ES|Transport with bunkers|Hybrid electric,billion (p|t)km/yr,69.240076,68.553130,69.533743,97.870896,201.859273,336.504245,377.905929,...,NaN,ES,Transport with bunkers,Hybrid electric,None,None,None,None,None,None
133116,EU27,ES|Transport with bunkers|Hydrogen,billion (p|t)km/yr,0.000000,0.000000,0.000000,0.000000,0.000014,0.000037,0.000923,...,NaN,ES,Transport with bunkers,Hydrogen,None,None,None,None,None,None
133241,EU27,ES|Transport with bunkers|Electric,billion (p|t)km/yr,763.431780,730.369160,699.119762,869.716973,928.248084,976.648212,1031.330416,...,NaN,ES,Transport with bunkers,Electric,None,None,None,None,None,None
133453,EU27,ES|Transport edge|Road,billion (p|t)km/yr,6827.196386,6978.562560,7277.333774,7704.708395,7765.648209,7763.741664,7747.230167,...,NaN,ES,Transport edge,Road,None,None,None,None,None,None
134170,EU27,ES|Transport|Road|BEV,billion (p|t)km/yr,9.583593,9.591278,10.856579,24.130275,296.580254,1131.783578,2936.616336,...,NaN,ES,Transport,Road,BEV,None,None,None,None,None
134173,EU27,ES|Transport|Road|FCEV,billion (p|t)km/yr,12.915698,12.866849,11.721010,11.413429,19.531933,33.535398,89.160919,...,NaN,ES,Transport,Road,FCEV,None,None,None,None,None
134176,EU27,ES|Transport|Road|Gases,billion (p|t)km/yr,63.020436,71.310616,66.698927,59.538754,125.875188,209.856113,228.177660,...,NaN,ES,Transport,Road,Gases,None,None,None,None,None
134179,EU27,ES|Transport|Road|Liquids,billion (p|t)km/yr,6672.436584,6816.240687,7118.523514,7511.755041,7121.801562,6052.062331,4115.369323,...,NaN,ES,Transport,Road,Liquids,None,None,None,None,None
134391,EU27,ES|Transport|Road|Hybrid electric,billion (p|t)km/yr,69.240076,68.553130,69.533743,97.870896,201.859273,336.504245,377.905929,...,NaN,ES,Transport,Road,Hybrid electric,None,None,None,None,None
134603,EU27,ES|Transport|Rail,billion (p|t)km/yr,948.986994,919.113038,838.246494,1013.496705,1076.494556,1130.049626,1184.190380,...,NaN,ES,Transport,Rail,None,None,None,None,None,None
134978,EU27,ES|Transport|Rail|Electric,billion (p|t)km/yr,763.431780,730.369160,699.119762,869.716973,928.248084,976.648212,1031.330416,...,NaN,ES,Transport,Rail,Electric,None,None,None,None,None
134981,EU27,ES|Transport|Rail|Liquids,billion (p|t)km/yr,185.555214,188.743878,139.126731,143.779733,148.246472,153.401414,152.859964,...,NaN,ES,Transport,Rail,Liquids,None,None,None,None,None

In [14]:
pass_with_bunkers = energy_service.query("Variable_2 == 'Pass with bunkers'")
passenger = energy_service.query("Variable_2 == 'Pass'")
freight = energy_service.query("Variable_2 == 'Freight'")
bunkers = energy_service.query("Variable_2 == 'Bunkers'")

In [15]:
freight_road = freight.query("Variable_3 == 'Road'")
freight_domestic_shipping = freight.query("Variable_3 == 'Domestic Shipping'")
freight_rail = freight.query( "Variable_3 == 'Rail'")

In [16]:
pass_road = passenger.query("Variable_3 == 'Road'")
pass_rail = passenger.query("Variable_3 == 'Rail'")
pass_domestic_aviation = passenger.query("Variable_3 == 'Domestic Aviation'")
pass_aviation = passenger.query("Variable_3 == 'Aviation'")
domestic_pass_aviation = passenger.query("Variable_3 == 'Domestic Aviation'")
pass_non_motorized = passenger.query("Variable_3 == 'Non-motorized'")

##### Aviation
Domestic passenger aviation can be distributed based on Eurostat: National air passenger transport by reporting country (avia_panc)
Bunkers and aviation - International aviation can be distributed badsed on International intra-EU adn extra-EU air passenger transport by reporting country and EU partner country (avia_paincc) & (avia_paexcc)

Other option: Aggregate and get share of domestic and "international" from the 2024 and then use this on total share of passengers on data set: Air transport of passengers by country (yearly data) (ttr00012)

#### Maritime 
International shipping and domestic shipping is distributed on total goods handled in each country. 

Other option would be to distribute these on inside and outside the EU shipped goods. However, domestic is exclusive to maritime transport in that country.  
Domestic shipping is bigger by 3 times than internationla shipping. Needs to be considered. Ask if this can be better approximiated by transport within the EU.

#### Railway 
Railway transport measurement - passenger - passenger transported. Missing data on Beligium, Hungary, Netherlands, Poland, UK, Montenegro. Data for Poland in data set Rail transport of passenger. Approximatingf rail transport over people? Finding a relationship between passengers transported to people? Average of pkm/p and then scale up to country size. 
Railway transport measurement - goods - goods transported. Missing data on Belgium and Greece. Needs to be approximated, Averages? Less data in the overall dataset.

In [17]:
freight_domestic_shipping

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Unnamed: 24,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
85756,EU27,ES|Transport|Freight|Domestic Shipping|Liquids,billion tkm/yr,677.697789,609.820509,501.75488,353.808683,365.199729,394.179081,387.932418,...,NaN,ES,Transport,Freight,Domestic Shipping,Liquids,None,None,None,None
108511,EU27,ES|Transport|Freight|Domestic Shipping,billion tkm/yr,677.697789,609.820509,501.75488,353.808683,365.199729,394.179081,387.932418,...,NaN,ES,Transport,Freight,Domestic Shipping,None,None,None,None,None

In [18]:
bunkers

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Unnamed: 24,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
85306,EU27,ES|Transport|Bunkers|Freight|International Shi...,billion tkm/yr,18563.199894,18445.700099,18492.090331,18591.444103,18638.994363,18591.225134,18544.344832,...,NaN,ES,Transport,Bunkers,Freight,International Shipping,Liquids,None,None,None
85531,EU27,ES|Transport|Bunkers|Pass|International Aviati...,billion pkm/yr,659.343715,733.834053,752.300236,787.889982,814.726442,837.912109,857.844090,...,NaN,ES,Transport,Bunkers,Pass,International Aviation,Liquids,None,None,None
108061,EU27,ES|Transport|Bunkers|Freight|International Shi...,billion tkm/yr,18563.199894,18445.700099,18492.090331,18591.444103,18638.994363,18591.225134,18544.344832,...,NaN,ES,Transport,Bunkers,Freight,International Shipping,None,None,None,None
108286,EU27,ES|Transport|Bunkers|Pass|International Aviation,billion pkm/yr,659.343715,733.834053,752.300236,787.889982,814.726442,837.912109,857.844090,...,NaN,ES,Transport,Bunkers,Pass,International Aviation,None,None,None,None
110861,EU27,ES|Transport|Bunkers|Freight,billion tkm/yr,18563.199894,18445.700099,18492.090331,18591.444103,18638.994363,18591.225134,18544.344832,...,NaN,ES,Transport,Bunkers,Freight,None,None,None,None,None
111086,EU27,ES|Transport|Bunkers|Pass,billion pkm/yr,659.343715,733.834053,752.300236,787.889982,814.726442,837.912109,857.844090,...,NaN,ES,Transport,Bunkers,Pass,None,None,None,None,None
111761,EU27,ES|Transport|Bunkers|Freight|Liquids,billion tkm/yr,18563.199894,18445.700099,18492.090331,18591.444103,18638.994363,18591.225134,18544.344832,...,NaN,ES,Transport,Bunkers,Freight,Liquids,None,None,None,None
111986,EU27,ES|Transport|Bunkers|Pass|Liquids,billion pkm/yr,659.343715,733.834053,752.300236,787.889982,814.726442,837.912109,857.844090,...,NaN,ES,Transport,Bunkers,Pass,Liquids,None,None,None,None

In [19]:
domestic_pass_aviation

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Unnamed: 24,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
91839,EU27,ES|Transport|Pass|Domestic Aviation|Hydrogen,billion pkm/yr,0.000000,0.000000,0.000000,0.000000,0.000014,0.000037,0.000923,...,NaN,ES,Transport,Pass,Domestic Aviation,Hydrogen,None,None,None,None
92056,EU27,ES|Transport|Pass|Domestic Aviation|Liquids,billion pkm/yr,76.791749,79.817666,40.235103,46.841036,51.398586,68.764501,80.994001,...,NaN,ES,Transport,Pass,Domestic Aviation,Liquids,None,None,None,None
109261,EU27,ES|Transport|Pass|Domestic Aviation,billion pkm/yr,76.791749,79.817666,40.235103,46.841036,51.398600,68.764538,80.994925,...,NaN,ES,Transport,Pass,Domestic Aviation,None,None,None,None,None

In [20]:
pass_aviation

,Region,Variable,Unit,2005,2010,2015,2020,2025,2030,2035,...,Unnamed: 24,Variable_0,Variable_1,Variable_2,Variable_3,Variable_4,Variable_5,Variable_6,Variable_7,Variable_8
135303,EU27,ES|Transport|Pass|Aviation,billion pkm/yr,736.135464,813.651718,792.535339,834.731018,866.125042,906.676647,938.839015,...,NaN,ES,Transport,Pass,Aviation,None,None,None,None,None
135678,EU27,ES|Transport|Pass|Aviation|Hydrogen,billion pkm/yr,0.000000,0.000000,0.000000,0.000000,0.000014,0.000037,0.000923,...,NaN,ES,Transport,Pass,Aviation,Hydrogen,None,None,None,None
135681,EU27,ES|Transport|Pass|Aviation|Liquids,billion pkm/yr,736.135464,813.651718,792.535339,834.731018,866.125028,906.676610,938.838092,...,NaN,ES,Transport,Pass,Aviation,Liquids,None,None,None,None